header{
    width: 100%;
    height: 572px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 136px;
}

nav{
    width: 100%;
    height: 128px;
    background-color: #E76C1F;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    filter: drop-shadow( 0 5px 5px rgba(81, 18, 0, 0.163));
}

footer{
    width: 100%;
    height: 128px;
    background-color: #E76C1F;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        color: white;
    }
}

.nav-container{
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
}

.header-icon{
    height: 56px;
}

.hero-img{
    width: 100%;
    height: 572px;
    object-fit: cover;
}

.hero-logo{
    width: 226px;
    position: absolute;
    top: 459px;
}

.header-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.page-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 16px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 16px;
}

.color-a{
    font-size: 80px;
    color: #E76C1F;
    margin: 0;
}

.color-b{
    font-size: 80px;
    color: black;
    margin: 0;
}

.ratings{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FACAAC;
    padding: 5px 4px;
    gap: 8px;
    p{
        font-size: 24px;
    }
}

.ratings-icon{
    height: 24px;
}

.rating-votes{
    color: rgb(86, 86, 86);
}

.title-sub-text{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.section-title{
    height: 50px;
    background-color: #E76C1F;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
    padding-left: 32px;
    margin-bottom: 32px;
    p{
        font-size: 24px;
        font-weight: bold;
        color: white;
    }
}

.section-logo{
    height: 64px;
}

.dish-container{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-inline: 40px;
}

.dishes-base{
    width: 720px;
    height: 160px;
    border-radius: 16px;
    background-color: #FDEADC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    margin-bottom: 16px;
    gap: 16px;
}

.dishes-text-sice{
    font-size: 16px;
    font-weight: bold;
}

.dish-info-1{
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.dish-info-2{
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.dish-info-3{
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

span{
    font-size: 16px;
    margin: 0;
    color: #363534;
}

.font-dish-price{
    font-size: 24px;
    font-weight: bold;
}

.main-container{
    width: 100%;
    display: flex;
    align-items: start;
}

.dishes{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.button-add-dish{
    cursor: pointer;
    font-size: 16px;
    color: #363534;
    padding: 8px 16px;
    background-color: white;
    border: none;
    border-radius: 16px;
    margin-bottom: 24px;
}

.button-added{
   color: #E76C1F; 
   font-weight: bold;
}

.button-add-dish:hover{
    color: #ffffff;
    background-color: #E76C1F;
}

.sticky-wide-screen{
    width: 435px;
    height: 794px;
    background-color: #363534;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: sticky;
    left: calc(100% - 435px);
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h2{
        font-weight: bold;
        color: #FDEADC;
    }
}

.separator{
    width: 100%;
    height: 3px;
    background-color: #FDEADC;
}

.image-size{
    width: 200px;
    height: 120px;
    border-radius: 8px;
}

.image-size img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shopping-cart-container{
    width: 100%;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

table{
    width: 100%;
    color: #FDEADC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
}

tr{
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-buy{
    width: 124px;
    height: 64px;
    font-size: 16px;
    color: white;
    padding: 4px 8px;
    border-radius: 16px;
    background-color: #E76C1F;
    margin-bottom: 16px;
}

.shopping-cart-container{
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.cart-box{
    width: 256px;
    border-radius: 16px;
    background-color: #FDEADC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    a{
        font-weight: bold;
    }
    p{
        font-weight: bold;
    }
}

.cart-no-orders{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cart-subtitle{
    font-size: 16px;
    text-align: center;
    color: #FDEADC;
}

.cart-box-positions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-box-order{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-hide{
    display: none;
}

.clickable{
    cursor: pointer;
}

.footer-container{
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.copyright{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

dialog{
    border: none;
    padding: 0;
    border-radius: 16px;
}

dialog::backdrop{
    background-color: black;
    opacity: 0.66;
}

.dialog-container{
    width: 400px;
    height: 256px;
    background-color: #363534;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
        font-size: 32px;
        color: white;
    }
    p{
        font-weight: bold;
        color: white; 
    }
}

.dialog-head{
    width: 90%;
    display: flex;
    justify-content: end;
}