body{
    margin: 0;
    font-family: arial;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

nav{
    width: 100%;
    height: 128px;
    background-color: #E76C1F;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow( 0 5px 5px rgba(81, 18, 0, 0.163));
}

.nav-container{
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
}

.header-icon{
    height: 56px;
}

.hero-img{
    width: 100%;
    height: 444px;
    object-fit: cover;
}

.header-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.page-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 16px;
}

h1{
    margin: 0;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.color-a{
    color: #E76C1F;
    margin: 0;
}

.color-b{
    color: black;
    margin: 0;
}

.ratings{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FACAAC;
    padding: 5px 4px;
    gap: 8px;
    p{
        font-size: 24px;
        margin: 0;
    }
}

.ratings-icon{
    height: 24px;
}

.rating-votes{
    color: rgb(86, 86, 86);
}

.title-sub-text{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}